page-social 
{
	ion-header{
		background-color: map-get($colors, dark);
	}
	ion-content {
		background-color: map-get($colors,dark);
		.image-wrapper {
			background-position: 50% 50%;
			background-size: cover;
			padding: 20px 0;
			position: relative;
			width: 100%;
			.info-wrapper {
				background-color: transparent;
				border: 0;
				color: map-get($colors, secondary);
				text-align: center;
			}
		}
	
		ion-textarea {
			border-bottom: 1px solid #000000;
			margin: 0px 5px;
		}
		p {
			text-align: justify;
		}
		.comment-box {
			overflow: scroll;
			height: 220px;
		}
	}	
}