.ios, .md {
	page-assessment {
		ion-content {
			background-color: map-get($colors, dark);
				.data-assessment {
				ion-grid {
					text-align: center;
					padding: 10px 5px;
					ion-row {
						ion-item {
							background-color: transparent;
							color: map-get($colors, secondary);
							font-size: 1.4rem;
							padding-left: 0;
							&:first-child {
								border-top: 0;
							}
							.item-inner {
								border-bottom: 1px solid map-get($colors, secondary);
							}
						}
						ion-col {
							h2 {
								color:  map-get($colors, secondary);
								font-size: 2rem;
								font-weight: 400;
								margin: 0;
							}
							p {
								color: lighten( map-get($custom-colors, dark-light) , 15%);
								margin: 0;
							}
						}
					}
					
				}
			}
			.option {
				color: red
			}
		
			ion-option .list{
			color: white
			}
			.ion-option .item{
			color: white
			}
			.select-popover {
			font-family: SFNSDisplay !important;
			font-size: 12px !important;
			max-width: 100% !important;
			}
		}
	}
}
