.ios, .md {
	page-assessment {
		ion-content {
			background-color: map-get($colors, dark);
			
			.data-assessment {
				ion-grid {
					background-color: map-get($custom-colors, dark-light);
					text-align: center;
					padding: 10px 5px;
					ion-row {
						h2 {
							color: lighten( map-get($custom-colors, dark-light) , 25%);
							font-size: 2rem;
							font-weight: 400;
							margin: 0;
						}
						ion-col {
							h2 {
								color: lighten( map-get($custom-colors, dark-light) , 25%);
								font-size: 2rem;
								font-weight: 400;
								margin: 0;
							}
							p {
								color: lighten( map-get($custom-colors, dark-light) , 15%);
								margin: 0;
							}
						}
					}
				}
			}
			.data-bodily {
				ion-grid {
					ion-row {
						ion-col {
							ion-card {
								background-color: white;
								margin: 0;
								text-align: center;
								width: 100%;
								h2 {
									color: map-get($colors, blue);
									font-size: 2.4rem;
								}
								small {
									color: white;
									font-weight: 600;
								}
							}
						}

					}
				}
			}
		}
	}
}
