trainer-item {
  background-color: map-get($custom-colors, dark-light);
    .button {
        fill:clear;
        font-size: 10px;
        line-height: 10px; // Add
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
     .button-icon .icon {
        display: block;
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
      ion-row {
          background-color: transparent;
          color: white;
          font-size: 1.0rem;                                          
      }
      
}

