.ios, .md {
	page-trainers {
		ion-header
		{
			background-color: map-get($colors, dark);

		}
		ion-content {
			background-color: map-get($colors,dark);
			.image-wrapper {
				background-position: 50% 50%;
				background-size: cover;
				padding: 20px 0;
				position: relative;
				width: 100%;
				.info-wrapper {
					background-color: transparent;
					border: 0;
					color: map-get($colors, secondary);
					text-align: center;
				}
			}
			
		}
	}
}
