.ios, .md {
program-content {
        ion-content {
            background-color: map-get($colors, dark);            
            ion-card {
                margin: 1;
                text-align: left;
                width: 100%;   
            }           
        }    
    }
}
